{% extends 'main.j2' %}

{% block between_navs %}
    <div class="container">
        <h2 class="user-name">Продавець упаковки</h2>
    </div>
{% endblock %}

{% block right_to_nav %}
    <form class="filters" id="filters-form" onsubmit="return false;">
        <h3 class="form-title">Ви зайшли в робочий простір продавців упаковки</h3>
    </form>


{% endblock %}
{% block body %}
    <h2 class="page-title">Продавець упаковки</h2>
    <ul id="view-items">

    </ul>

{% endblock %}