<!DOCTYPE html>
<html lang="en" style="background-image: url(https://thumbs.dreamstime.com/b/black-white-marijuana-leaves-seamless-pattern-leaf-drawing-cannabis-hemp-color-vector-illustration-background-134644589.jpg);">
    <title>Hemp store</title>
    <head>
        <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='hemp.ico') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='log_in.css') }}">
    </head>
    <body>
        <div id="logging_div">
            <form method="POST">
                <h1>Не вдалося увійти</h1>
                <h1>Перевірте, чи емейл та пароль введено вірно</h1>
                <a href="/">Зареєструватися</a>
                <a href="/log_in">Спробувати знову</a>
            </form>
    </div>
    </body>
</html>