<!DOCTYPE html>
<html lang="en" style="background-image: url(https://thumbs.dreamstime.com/b/black-white-marijuana-leaves-seamless-pattern-leaf-drawing-cannabis-hemp-color-vector-illustration-background-134644589.jpg);">
    <title>Hemp store</title>
    <head>
        <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='hemp.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='welcome.css') }}">
    </head>
    <body>
        <div>
            <form method="POST">
                <h1>Вітаємо!</h1>
                <h2>Ми раді бачити тебе в нашому магазині коноплі. Вибери, що ти хочеш зробити:</h2>
                <a href="log_in">Я хочу увійти в систему</a><br>
                <a href="agro_register">Я хочу зареєструватися як агроном</a><br>
                <a href="buyer_register">Я хочу зареєструватися як покупець</a><br>
                <a href="seller_register">Я хочу зареєструватися як продавець</a>
            </form>
        </div>
    </body>
</html>