<!DOCTYPE html>
<html lang="en" style="background-image: url(https://thumbs.dreamstime.com/b/black-white-marijuana-leaves-seamless-pattern-leaf-drawing-cannabis-hemp-color-vector-illustration-background-134644589.jpg);">
    <title>Hemp store</title>
    <head>
        <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='hemp.ico') }}"/>
        <link rel="stylesheet" href="../static/welcome.css">
    </head>
    <body>
        <div>
            <form method="POST">
                <h1>Welcome</h1>
                <h2>We are glad to see you on our hemp website, please choose what you'd like to do:</h2>
                <a href="log_in">I want to log into system</a><br>
                <a href="agro_register">I want to register as an agronom</a><br>
                <a href="buyer_register">I want to register as a buyer</a><br>
                <a href="seller_register">I want to register as packing seller</a>
            </form>
        </div>
    </body>
</html>