{% extends 'main.j2' %}

{% block between_navs %}
    <div class="container">
        <h2 class="user-name">{{ full_name }}</h2>
    </div>
{% endblock %}

{% block right_to_nav %}
    <form class="filters" id="filters-form" onsubmit="return false;">
        <h3 class="form-title">Filters</h3>
        <label class="filter">Дата: <input class="date-input" type="date" id="min-date" placeholder="min"> - <input
                class="date-input" type="date" placeholder="max" id="max-date"></label>
        <label class="filter">
            Ім'я продукту: <input type="text" class="text-input" id="product-name" placeholder="Name">
        </label>
        <label class="filter">
            Мінімальна кількість відвідувачів: <input type="number" class="number-input" id="min-buyers" placeholder="Name">
        </label>

        <button type="button" onclick="getItems()">Apply filters</button>
    </form>

    <h3 id="search-result">

    </h3>

    <script>
        async function getItems() {
            let result = document.getElementById('search-result');


            let minDate = document.getElementById('min-date').value || '0001-01-01';
            let maxDate = document.getElementById('max-date').value || '100000-01-01';
            let productName = document.getElementById('product-name').valueOf();
            let minBuyers = document.getElementById('min-buyers').value || 0;

            const url = "/get_degustations";
            fetch(url,
                {
                    method: "POST",
                    body: JSON.stringify({
                        'minDate': minDate,
                        'maxDate': maxDate,
                        'productName': productName,
                        'minBuyers': minBuyers
                    }),
                    credentials: 'same-origin',
                    headers: new Headers({
                        'Content-Type': 'application/json'
                    })
                })
                .then(response => response.json()).then(data => {
                result.innerHTML = `Ви провели ${data.length} дегустацій за цей період`;

                let list = document.getElementById('view-items');
                list.innerHTML = '';
                for (let degustation of data) {
                    let item = document.createElement('li');
                    item.classList.add('card-item');
                    let itemLink = document.createElement('a');
                    itemLink.setAttribute('href', `/degustation/${degustation.id}`);


                    degustation.testers = degustation.testers.map((name) => "<li>" + name + "</li>");
                    itemLink.innerHTML = `
                                      <img class="preview-img" src="../../static/hemp-plantation.jpg" alt="product photo">
                                      <h3 class="card-name">${degustation.product_name}, ${degustation.amount} кг.</h3>
                                      <span class="date">${degustation.date}</span>
                                      <ul class="together">
                                        ${degustation.testers.reduce((first, second) => first + second)}
                                      </ul>

                                      `;

                    item.appendChild(itemLink);
                    list.appendChild(item);
                }
            });
        }
    </script>


{% endblock %}
{% block body %}
    <h2 class="page-title">Мої дегустації</h2>
    <ul id="view-items">

    </ul>

{% endblock %}


