{% extends 'main.j2' %}

{% block between_navs %}
    <div class="container">
        <h2 class="user-name">{{ full_name }}</h2>
    </div>
{% endblock %}

{% block right_to_nav %}
    <form class="filters" id="filters-form" onsubmit="return false;">
        <h3 class="form-title">Фільтри</h3>
        <label class="filter">Мінімальна кількість покупок<input class="number-input" type="number" id="min-buys" placeholder="від"></label>
        <label class="filter">В період <input class="date-input" type="date" id="min-date" placeholder="від"> - <input
               class="date-input" type="date" placeholder="до" id="max-date"></label>
        <button type="button" onclick="getItems()">Застосувати</button>
    </form>

    <script>
        window.onload = (event) => getItems();
        async function getItems() {
            let minBuys = document.getElementById('min-buys').value || 0;
            let minDate = document.getElementById('min-date').value || '0001-01-01';
            let maxDate = document.getElementById('max-date').value || '100000-01-01';

            const url = "/get_buyers";
            fetch(url,
                {
                    method: "POST",
                    body: JSON.stringify({
                        'minBuys': minBuys,
                        'minDate': minDate,
                        'maxDate': maxDate
                    }),
                    credentials: 'same-origin',
                    headers: new Headers({
                        'Content-Type': 'application/json'
                    })
                })
                .then(response => response.json()).then(data => {
                let list = document.getElementById('view-items');
                list.innerHTML = '';
                for (let buyer of data) {
                    let item = document.createElement('li');
                    item.classList.add('card-item');
                    let itemLink = document.createElement('a');
                    itemLink.setAttribute('href', `/buyer/${buyer.id}`);

                    itemLink.innerHTML = `
                                      <img class="preview-img" src="{{ url_for('static', filename='img_replacer.jpg') }}" alt="product photo">
                                      <h3 class="card-name">${buyer.full_name}</h3>
                                      <span class="city">${buyer.location}</span><br>
                                          <span class="agronom-spare-info">
                                          Покупок в період: ${buyer.buys}
                                            </span>
                                            <br>
                                      `;

                    item.appendChild(itemLink);
                    list.appendChild(item);
                }
            });
        }
    </script>


{% endblock %}
{% block body %}
    <h2 class="page-title">Покупці</h2>
    <ul id="view-items">

    </ul>

{% endblock %}
