<!DOCTYPE html>
<html lang="en" style="background-image: url(https://thumbs.dreamstime.com/b/black-white-marijuana-leaves-seamless-pattern-leaf-drawing-cannabis-hemp-color-vector-illustration-background-134644589.jpg);">
    <title>Hemp store</title>
    <head>
        <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='hemp.ico') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='log_in.css') }}">
    </head>
    <body>
        <div>
            <form method="POST">
                <h1>Не вдалося зареєструватися</h1>
                <h1>Ймовірно, користувач з такою поштою вже зареєстрований</h1>
                <a href="/">Спробувати знову</a>
            </form>
        </div>
    </body>
</html>