<!DOCTYPE html>
<html lang="en" style="background-image: url(https://thumbs.dreamstime.com/b/black-white-marijuana-leaves-seamless-pattern-leaf-drawing-cannabis-hemp-color-vector-illustration-background-134644589.jpg);">
    <title>Hemp store</title>
    <head>
        <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='hemp.ico') }}"/>
        <link rel="stylesheet" href="../static/agro_register.css">
    </head>
    <body>
        <div>
            <form method="POST">
                <h1>Register, Seller</h1>
                <input name="name" required="required" placeholder="Enter your name: ">
                <input name="surname" required="required" placeholder="Enter your surname: ">
                <input name="phone" pattern="+?[0-9]{12,}" placeholder="Enter your phone: ">
                <input name="bank_account" pattern="^\w{1,17}$" placeholder="Enter your bank account: ">
                <input name="mail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" placeholder="Enter your mail: ">
                <input name="location" required="required" placeholder="Enter your location: ">
                <input name="productivity" required="required" pattern="[0-9]{1,}" placeholder="Your expected productivity: ">
                <input name="password" type="password" required="required" placeholder="Enter your password: ">
                <input type="submit">
            </form>
        </div>
    </body>
</html>