{% extends 'main.j2' %}

{% block between_navs %}
    <div class="container">
        <h2 class="user-name">{{ full_name }}</h2>
    </div>
{% endblock %}

{% block right_to_nav %}
    <form class="filters" id="filters-form" onsubmit="return false;">
        <h3 class="form-title">Filters</h3>
        <label class="filter">Date:<input class="date-input" type="date" id="min-date" placeholder="min"> - <input
                class="date-input" type="date" placeholder="max" id="max-date"></label>
        <button type="button" onclick="getItems()">Apply filters</button>
    </form>

    <script>
        window.onload = (event) => getItems();
        async function getItems() {
            let minDate = document.getElementById('min-date').value || '0001-01-01';
            let maxDate = document.getElementById('max-date').value || '100000-01-01';

            const url = "/get_orders";
            fetch(url,
                {
                    method: "POST",
                    body: JSON.stringify({
                        'minDate': minDate,
                        'maxDate': maxDate,
                    }),
                    credentials: 'same-origin',
                    headers: new Headers({
                        'Content-Type': 'application/json'
                    })
                })
                .then(response => response.json()).then(data => {
                let list = document.getElementById('view-items');
                list.innerHTML = '';
                console.log(data);
                for (let deal of data) {
                    let item = document.createElement('li');
                    item.classList.add('card-item');


                    item.innerHTML = `
                                      <img class="preview-img" src="../../static/img_replacer.jpg" alt="product photo">
                                      <div class="card-item-right">
                                          <a href="/leave_feed_back/product/${deal.product_id}">
                                              <div class="feed-back-button">Залишити відгук</div>
                                          </a>
                                          <a href="${deal.successful ? '/return/' + deal.id : '#'}">
                                              <div class="return-button ${deal.successful ? 'enabled' : 'disabled'}">Повернути</div>
                                          </a>
                                      </div>
                                      <h3 class="card-name">${deal.name}</h3>
                                      <span class="seller">${deal.seller}</span><br>
                                      <span class="pack">${deal.amount_of_product} кг. </span><br>
                                      <span class="date">${deal.made}</span>
                                      `;

                    list.appendChild(item);
                }
            });
        }
    </script>


{% endblock %}
{% block body %}
    <h2 class="page-title">Мої замовлення</h2>
    <ul id="view-items">

    </ul>

{% endblock %}


