{% extends 'main.j2' %}

{% block between_navs %}
    <div class="container">
        <h2 class="user-name">{{ full_name }}</h2>
    </div>
{% endblock %}

{% block right_to_nav %}
    <form class="filters" id="filters-form" onsubmit="return false;">
        <h3 class="form-title">Фільтри</h3>
        <label class="filter">Ціна: <input class="number-input" type="number" id="min-price" placeholder="min"> - <input
                class="number-input" type="number" placeholder="max" id="max-price"></label>
        <label class="filter">Мінімальний вік:<input class="number-input" type="number" id="min-age" placeholder="min">
        </label>
        <button type="button" onclick="getItems()">Застосувати</button>
    </form>

    <script>
        window.onload = (event) => getItems();
        async function getItems() {
            let minAge = parseInt(document.getElementById('min-age').value) || 0;
            let minPrice = parseInt(document.getElementById('min-price').value) || 0;
            let maxPrice = parseInt(document.getElementById('max-price').value) || 10000000; // Just a big value. Better change this

            const url = "/get_goods";
            fetch(url,
                {
                    method: "POST",
                    body: JSON.stringify({
                        'minAge': minAge,
                        'minPrice': minPrice,
                        'maxPrice': maxPrice
                    }),
                    credentials: 'same-origin',
                    headers: new Headers({
                        'Content-Type': 'application/json'
                    })
                })
                .then(response => response.json()).then(data => {
                let list = document.getElementById('view-items');
                list.innerHTML = '';
                for (let product of data) {
                    let item = document.createElement('li');
                    item.classList.add('card-item');

                    item.innerHTML = `<a href="/product/${product.id}">
                                      <img class="preview-img" src="../../static/img_replacer.jpg" alt="product photo">
                                        <h3 class="card-name">${product.name}</h3>
                                      <span class="pack">По ${product.pack} шт. </span><br>
                                      <span class="price">${product.price} грн.</span>
                                      <span class="min-age">${product.min_age}+</span>
                                      </a> `;

                    list.appendChild(item);
                }
            });
        }
    </script>

{% endblock %}
{% block body %}
    <h2 class="page-title">Купити коноплю</h2>
    <ul id="view-items">

    </ul>

{% endblock %}