{% extends 'main.j2' %}
{% block head %}
    <link rel="stylesheet" href="../static/item_view.css">
{% endblock %}

{% block between_navs %}
    <div class="container">
        <h2 class="user-name">{{ full_name }}</h2>
    </div>
{% endblock %}

{% block right_to_nav %}
    <div class="item-info">
        <img class="item-photo" alt="Item photo" src="{{ url_for('static', filename='img_replacer.jpg') }}">
        <h3 class="item-name">{{ info['item_name'] }}</h3>
        <ul class="info">
            {% for key in info %}
                {% if key !='item_name' %}
                    <li><span class="key">{{ key }}: </span> <span class="value">
                        {% if info[key] is iterable and not (info[key] is string) %}
                            <ul class="sub-list">
                                {% for value in info[key] %}
                                    <li>{{ value }}</li>
                                {% endfor %}
                            </ul>

                        {% else %}
                            {{ info[key] }}
                        {% endif %}
                    </span></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}