div {
    width: 900px;
    height: 600px;
    background-color: white;
    padding-top: 50px;
    margin-left: 25.5%;
    margin-top: 100px;
    border-radius: 10px;
}

form input{
    display: block;
    height: 35px;
    margin-left: 40%;
    margin-top: 10px;
    padding: 2px;
    border-radius: 10px;
}

div h1 {
    text-align: center;
}