div {
    width: 50%;
    background-color: white;
    margin-left: 25.5%;
    margin-top: 200px;
    border-radius: 10px;
    box-sizing: border-box;
    text-align: center;
    padding: 150px 0;
}

form {
    text-align: center;
}

form input{
    display: block;
    height: 35px;
    margin: 10px auto 0;
    padding: 2px;
    border-radius: 10px;
}

div h1 {
    text-align: center;
}