div {
    width: 50%;
    background-color: white;
    margin-left: 25.5%;
    margin-top: 200px;
    border-radius: 10px;
    box-sizing: border-box;
    text-align: center;
}

div form {
        padding: 150px 70px;
}

div form h1 {
    text-align: center;
}

div form h2 {
    padding: 0 80px;
}
div form a {
    display: inline-block;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: white;
    /*margin-left: 22.5%;*/
    height: 25px;
    border-radius: 10px;
    font-size: 20px;
    color: black;
    border: black solid;
    width: 350px;
    margin-top: 10px;
}

div form a:hover {
    color: white;
    background-color: black;
    transition-duration: 0.5s;
}

a {
    text-decoration: none;
    color: goldenrod;
}