<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hemp store</title>
    <link rel="stylesheet" href="../static/main.css">
{#    <meta name="viewport" content="width=1800, initial-scale=1.05, maximum-scale=1.1, minimum-scale=1">#}
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='/hemp.ico') }}"/>
    {% block head %}
    {% endblock %}
</head>
<body>
<nav class="top-nav">
    <div class="container">
        <img class="logo-img" alt="logo image" src="../static/hemp.png">
        <span class="title">Hemp Store</span>
        <ul>
            {% for element in top_nav_elements %}
                <li class="top-nav-item"><a href="{{ element['link'] }}">{{ element['text'] }}</a></li>
            {% endfor %}
        </ul>
    </div>
</nav>
{% block between_navs %}
{% endblock %}
<div class="container">
    <nav class="left-nav">
        <ul>
            {% for i in range(left_nav_elements|length) %}
                <li class="left-nav-item {{ 'selected' if selected == i else '' }}"><a
                        href="{{ left_nav_elements[i]['link'] }}">{{ left_nav_elements[i]['text'] }}</a></li>
            {% endfor %}
        </ul>

    </nav>
    {% block right_to_nav %}
    {% endblock %}
</div>


<div class="container">
    {% block body %}

    {% endblock %}
</div>

<footer>
    &copy; Best team ever
</footer>

</body>

</html>