{% extends 'main.j2' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='/feed_back.css') }}">
{% endblock %}



{% block between_navs %}
    <div class="container">
        <h2 class="user-name">{{ full_name }}</h2>
    </div>
{% endblock %}

{% block body %}
    <form class="feed-back" action="" method="post">
        <h2>Відгук про {{ name }}</h2>
        <label class="feed-back-form-label">Оцінка: <input type="range" min="0" max="10" step="1" name="grade"></label>
        <label class="feed-back-form-label">Відгук: <textarea class="feed-back-text" maxlength="200"
                                                              name="message"></textarea>

        </label>
    <button type="submit">Залишити відгук</button>

    </form>

{% endblock %}